{% extends "archiv/base.html" %}
{% block content %}
{% if imprint_body %}
{{ imprint_body|safe }}
{% else %}
<div class="wrapper" id="wrapper-hero">
  <!-- ******************* The Hero Area ******************* -->
  <div class="wrapper" id="wrapper-hero-content">
    <div class="container hero-dark" id="wrapper-hero-inner" tabindex="-1">
      <h1>NERDPool: Data Pool for Named Entity Recognition</h1>
      <p>Named Entity Recognition (NER) is the ability to automatically identify and extract information about
        named entities such as person and place names from unstructured data. It is a topic that gains
        increasingly attention in the Digital Humanities and digital scholarly editing. For the training of NER
        models for historical German language texts hardly any resources exist. NERDPool tries to overcome this
        issue by publishing a collection of gold standard named entity annotation samples through this web
        application/web service </p>
      <button class="btn btn-round"><a
          href="https://digital-humanities.at/en/dha/s-project/nerdpool-data-pool-named-entity-recognition">Read
          more on the DHA-Website</a></button>
    </div>
  </div>
  <!-- #wrapper-hero-content -->
</div>
<div class="wrapper" id="index-wrapper">
  <div class="container" id="content" tabindex="-1">
    <div class="row">
      <!-- Do the left sidebar check and opens the primary div -->
      <div class="col-md-12 content-area" id="primary">
        <main class="site-main" id="main">
          <!-- Use custom content block templates if they are defined -->
          <!-- .card-wrapper -->
          <h5 class="content-block-title"><span class="separator-title">Basic Stats</span></h5>
          <div class="card-wrapper d-flex justify-content-center" >
            {% include "archiv/chart.html" %}
          </div>
          <!-- .card-wrapper -->
          <h5 class="content-block-title"><span class="separator-title">Data Sources</span></h5>
          <div class="card-wrapper">
            {% for x in ner_source %}
            <article class="card col-md flat-style">
              <div class="card-inner card-vertical">
                <div class="entry-text-content">
                  <header class="entry-header">
                    <h4 class="entry-title"><a href="#" rel="bookmark" class="light">{{ x }}</a></h4>
                  </header>
                  <!-- .entry-header -->
                  <div class="entry-content">
                    <p>
                      <code>{{ x.info }}</code>
                    </p>
                    <a class="btn btn-round mb-1"
                      href="{% url 'nersample-list' %}?ner_source__title={{ x.title }}">DATA-Endpoint</a>
                  </div>
                  <!-- .entry-content -->
                </div>
                <!-- .entry-text-content -->
              </div>
              <!-- .card-inner -->
            </article>
            {% endfor %}
          </div>

        </main>
        <!-- #main -->
        <!-- The pagination component -->
      </div>
      <!-- #primary -->
      <!-- Do the right sidebar check -->
    </div>
    <!-- .row -->
  </div>
  <!-- Container end -->
</div>
{% endif %}
<!-- Wrapper end -->
{% endblock %}