{% extends "archiv/base.html" %}
{% load replace %}
{% block content %}
{% if imprint_body %}
{{ imprint_body|safe }}
{% else %}
<div class="wrapper" id="wrapper-hero">
  <!-- ******************* The Hero Area ******************* -->
  <div class="wrapper" id="wrapper-hero-content">
    <div class="container hero-dark" id="wrapper-hero-inner" tabindex="-1">
      <h1>NERDPool: Data Pool for Named Entity Recognition</h1>
      <p>Named Entity Recognition (NER) is the ability to automatically identify and extract information about
        named entities such as person and place names from unstructured data. It is a topic that gains
        increasingly attention in the Digital Humanities and digital scholarly editing. For the training of NER
        models for historical German language texts hardly any resources exist. NERDPool tries to overcome this
        issue by publishing a collection of gold standard named entity annotation samples through this web
        application/web service </p>
      <button class="btn btn-round"><a
          href="https://digital-humanities.at/en/dha/s-project/nerdpool-data-pool-named-entity-recognition">Read
          more on the DHA-Website</a></button>
    </div>
  </div>
  <!-- #wrapper-hero-content -->
</div>
<div class="wrapper" id="index-wrapper">
  <div class="container" id="content" tabindex="-1">
    <div class="row">
      <!-- Do the left sidebar check and opens the primary div -->
      <div class="col-md-12 content-area" id="primary">
        <main class="site-main" id="main">
          <!-- Use custom content block templates if they are defined -->
          <!-- .card-wrapper -->
          <h5 class="content-block-title"><span class="separator-title">Basic Stats</span></h5>
          <div class="card-wrapper d-flex justify-content-center" >
            {% include "archiv/chart.html" %}
          </div>
          <!-- .card-wrapper -->
          <h5 class="content-block-title"><span class="separator-title">Data Sources</span></h5>
          <div class="button-group filter-button-group text-center" style="margin-bottom:1em;">
            <legend>Titles</legend>
            <button data-filter="*" style="margin:.2em; border-color: #ba1817;" class="btn btn-round mb-1">show all</button>
            {% for x in ner_source %} 
              <button class="btn btn-round mb-1" data-filter=".{{ x.title|to_underline }}" style="margin:.2em;border-color: #ba1817;">{{ x.title }}</button>     
            {% endfor %}
            <br/>
            <legend>Tags</legend>
          </div>
          <div class="card-wrapper grid" >
            <div class="grid-sizer"></div>
            {% for x in ner_source %}            
            <article class="card col-md flat-style grid-item {{ x.title|to_underline }} {% for ent in x.sample_stats.data %}{{ ent|first }} {% endfor %}">
              <div class="card-inner card-vertical" style="border-top-color: #ba1817 !important;">
                <div class="entry-text-content">
                  <header class="entry-header">
                    <h3 class="entry-title grid-item-name">{{ x }} <small>{{ x.sample_count }} samples</small></h3>
                  </header>
                  <!-- .entry-header -->
                  <div class="entry-content">
                    <h4>Entities</h4>
                    <p>
                      {% for ent in x.sample_stats.data %} <a class="btn btn-round mb-1" style="background-color: #ba1817; border-color: #ba1817; color: whitesmoke; "
                      href="{% url 'nersample-list' %}?ner_source__title={{ x.title }}&ner_ent_type__contains={{ ent|first}}" >
                        {{ ent|first }} <span class="badge badge-light">{{ ent|last }}</span>
                      </a> {% endfor %}
                    </p>
                    <h5>Info</h5>
                    <p>
                      <code>{{ x.info }}</code>
                    </p>
                    <a class="btn btn-round mb-1"
                      href="{% url 'nersample-list' %}?ner_source__title={{ x.title }}">DATA-Endpoint</a>
                  </div>
                  <!-- .entry-content -->
                </div>
                <!-- .entry-text-content -->
              </div>
              <!-- .card-inner -->
            </article>
            {% endfor %}
          </div>

        </main>
        <!-- #main -->
        <!-- The pagination component -->
      </div>
      <!-- #primary -->
      <!-- Do the right sidebar check -->
    </div>
    <!-- .row -->
  </div>
  <!-- Container end -->
</div>
{% endif %}
<!-- Wrapper end -->
{% block script %}
  <script type="text/javascript">
    $('document').ready(function() {
      var $grid = $('.grid');
      $grid.isotope({
        itemSelector: '.grid-item',
        percentPosition: true,
        masonry: {
          columnWidth: '.grid-sizer'
        },
        getSortData: {
          name: '.grid-item-name',
          count: function get_count(itemElem) {
            var re = new RegExp("\\d+");
            var count = $( itemElem ).find('.grid-item-name').text().match(re);
            return parseFloat(count[0]);
          }
        },
        sortBy: [
          'name',
          'count'
        ],
        sortAscending: {
          name: true,
          count: false
        }
      });
      // filter
      $('.filter-button-group').on('click', 'button', function(){
        var filterValue = $(this).attr('data-filter');
        $grid.isotope({
          filter: filterValue
        });
        if($('.selected').length > 0){
          var selected = $('.selected');
          for(var i = 0; i < selected.length; i++){
            selected[i].classList.remove("selected");
          }
        }  
        $(this).addClass('selected');
      });
    });
  </script>
  {{ drilldown|json_script:'drilldown' }}
  <script type="text/javascript">
    (function unique_tags() {
      const value = JSON.parse(document.getElementById('drilldown').textContent);
      var taglist = [];
      for(var i = 0; i < value.length; i++) {
        var tag = value[i].data;
        console.log(tag)
        for(x in tag) {
          var ent_type = tag[x];
          console.log(ent_type)
          var ent_type = ent_type[0];
          taglist += ent_type + " ";
        }
      }
      var tags = taglist.split(' ');
      function onlyUnique(value, index, self) {
        return self.indexOf(value) === index;
      }
      var tags = tags.filter(onlyUnique);
      for(x in tags) {
        if(tags[x].length !== 0) {
          $('.button-group').append(`<button class="btn btn-round mb-1" data-filter=".${tags[x]}" style="margin:.2em; border-color: #ba1817;">${tags[x]}</button>`);
        }
      }
    })();
  </script>
{% endblock script %}
{% endblock %}